<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo plato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Adicionar Plato</h1>
            </div>
            <div class="card-body">

                <div class="col-12">
                    <label for="idDish" class="col-sm-2 col-form-label">Id</label>
                    <input type="text" class="form-control" aria-label="First name" id="idDish">
                </div>
                <div class="col-12">
                    <label for="nameDish" class="col-sm-2 col-form-label">Name</label>
                    <input type="text" class="form-control" aria-label="Last name" id="nameDish">
                </div>
                <div class="col-12">
                    <label for="caloriesDish" class="col-sm-2 col-form-label">Calories</label>
                    <input type="number" class="form-control" aria-label="Last name" id="caloriesDish">
                </div>
                <div class="col-12">
                    <label for="vegetarianDish" class="col-sm-2 col-form-label">Vegetarian</label>
                    <select class="form-select" aria-label="" id="vegetarianDish">
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>

                    </select>
                </div>
                <div class="col-12">
                    <label for="valueDish" class="col-sm-2 col-form-label">Value</label>
                    <input type="number" class="form-control" aria-label="Last name" id="valueDish">
                </div>
                <div class="col-12">
                    <label for="commentsDish" class="col-sm-2 col-form-label">Comments</label>
                    <input type="text" class="form-control" aria-label="" id="commentsDish"></input>
                </div>


                <div class="row ">
                    <div class="col-2"></div>
                    <button class="btn btn-success col-2" onclick="sendData()">Add </button>

                </div>
                <br>

                <a href="/">
                    <button type="button" class="btn btn-warning">List</button>
                </a>

                <a href="../find_ById">
                    <button type="button" class="btn btn-warning">Find</button>
                </a>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>

</html>