<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="./scripts.js"></script>
    <title>Add Dish</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-hearder">
                <h1>Find Dish</h1>

            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="number" class="form-control" id="id" aria-describedby="emailHelp" required>
                    </div>

                    <button class="btn btn-primary" onclick="sendAuthor() ">Submit</button>
                </form>
                <br>
                <a href="/">
                    <button type="button" class="btn btn-info">Dish list</button>
                </a>

                <a href="../add_Dish">
                    <button type="button" class="btn btn-warning">Add</button>
                </a>
            </div>
        </div>

    </div>



</body>


</html>